%pretty-font {font-family: 'Kaushan Script', cursive;font-size: 50px;font-weight: 400;
}

%headline-font {font-family: 'Montserrat';font-style: normal; color: white; text-decoration: none;
}

%icon-size: {width: 30px;height: 30px;
}