$main-gradient: linear-gradient(rgba(245, 123, 112, 0.9),
rgba(252, 225, 138, 0.9));
$main-color-1:rgb(243, 129, 129);
$main-color-2: rgb(252, 225, 138);
$main-color-3: rgb(149, 225, 211);
$text-section1-color: rgb(255, 255, 255);
$text-section2-color: rgb(0, 0, 0);
$secondary_text-section2: rgb(153, 153, 153);
$description-text: 'Roboto', sans-serif;
