* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
        url('../fonts/kaushan-script-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kaushan-script-v7-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kaushan-script-v7-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kaushan-script-v7-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kaushan-script-v7-latin-regular.svg#KaushanScript') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v13-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/montserrat-v13-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v13-latin-800.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/montserrat-v13-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-800.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v13-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('../fonts/montserrat-v13-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-900.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v19-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v19-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v19-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v19-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v19-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v19-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v19-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v19-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}


header {
    padding-top: 30px;
    margin-bottom: 6rem;
    padding-right: 14rem;
}

.first {
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(245, 123, 112, 0.9)),
        to(rgba(252, 225, 138, 0.9))), url(../img/BGpng-min.png), center;
    background: -webkit-linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BGpng-min.png), center;
    background: -o-linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BGpng-min.png), center;
    background: linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BGpng-min.png), center;
    background-size: cover;
    padding-bottom: 10rem;
    margin-bottom: 3rem;

}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .first {
        background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(245, 123, 112, 0.9)),
        to(rgba(252, 225, 138, 0.9))), url(../img/BG@2x.png), center;
    background: -webkit-linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BG@2x.png), center;
    background: -o-linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BG@2x.png), center;
    background: linear-gradient(rgba(245, 123, 112, 0.9),
        rgba(252, 225, 138, 0.9)), url(../img/BG@2x.png), center; 
        background-size: cover;
        padding-bottom: 10rem;
        margin-bottom: 3rem;
    }
}

.logo {
    position: absolute;
    left: 20%;
    top: -5px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    position: relative;
}
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
}


a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
  
}

li {

    margin: 0 1rem;
    line-height: 2;
    vertical-align: -10px;
}

li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;

}

.icon-cart,
.icon-search {
    width: 12px;
    height: 12px;
    fill: white;
}

.welcome,
.template {
    text-align: center;
    color: white;
}

.welcome {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 1;
}

.template {
    font-family: 'Kaushan Script';
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.w2 {
    margin-bottom: 5.5rem;
}

.more {
    margin: auto;
    width: 7.5rem;
    text-align: center;
    line-height: 2.5;
    display: block;
    font-size: 12px;
    border: 2px solid white;
}

/*Amazing services section*/
.amazing {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    width: 30%;
    text-align: center;
    display: block;
    margin-bottom: 60px;
}

.amazing::before {
    content: "We work with";
    font-family: "Kaushan Script", cursive;
    display: block;
    font-size: 24px;
    font-weight: 300;
    width: 42%;
    margin: auto;
    margin: 0 auto 23px auto;
}

.amazing::after {
    content: "";
    width: 25%;
    height: 4px;
    background-color: rgb(243, 129, 129);
    display: block;
    margin: 0 auto;
    margin-top: 43px;
}

.icons {
    width: 300px;
    position: relative;
   
    padding-left: 50px;
    margin-left: 3rem;
    margin-bottom: 3rem;
}



.icon-alarm,
.icon-stats-dots,
.icon-computer-desktop,
.icon-book-open,
.icon-home3,
.icon-checkbox-unchecked {
    fill: #95e1d3;
    width: 30px;
    display: inline;
    height: 30px;
    position: absolute;
    left: 0;
    top: 10%;
}

.icon-facebook,
.icon-instagram,
.icon-twitter,
.icon-pinterest-p {
    width: 30px;
    height: 30px;
    fill: #f38181
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;


}

.details {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;

}

.wraper1 {
    display: flex;
    justify-content: right;
    width: 75%;
    flex-flow: wrap;
    margin: auto;
}
.wraper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 75%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: auto;
}


.services {
    margin: 0 0 0 0;
}

/*Team section*/
.team {
    margin-bottom: 85px;
}

.meet_us {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 23%;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
}

.meet_us::before {
    content: "We work with";
    font-family: "Kaushan Script", cursive;
    display: block;
    font-size: 24px;
    font-weight: 300;
    width: 50%;
    margin: auto;
    margin-bottom: 23px;
}

.meet_us::after {
    content: "";
    width: 21%;
    height: 4px;
    background-color: rgb(243, 129, 129);
    display: block;
    margin: 0 auto;
    margin-top: 43px;
}

.lil_descrip {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
}

.guy_name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.proffesion {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #999999;
    font-weight: 200;
}

.pic_container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.pic_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: auto;
}

.guy_1,
.guy_2,
.guy_3 {
    margin: 0 30px 0 0;
}

.first_ph {
    object-fit: none;
    object-position: 20% 50%;
}
.first_ph {
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 20% 50%;
       object-position: 20% 50%;
}

#example {
    position: relative;
    z-index: 1;
}

#example2 {
    position: relative;
    z-index: 1;
}

#example3 {
    position: relative;
    z-index: 1;
}

#example,
#example2,
#example3 {
    margin-bottom: 30px;
}

.hover1 {
    position: absolute;
    width: 100%;
    height: 470px;

    top: 0;
    background-image: url(../img/beard_guy-min.png);
    opacity: 0;
}

.hover2 {
    position: absolute;
    width: 100%;
    height: 470px;

    top: 0;
    background: linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/photo_guy-min.png);
    opacity: 0;
}
.hover2 {
    position: absolute;
    width: 100%;
    height: 470px;

    top: 0;
    background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(238, 118, 120, 0.9)),
        to(rgba(238, 216, 135, 0.9))), url(../img/photo_guy-min.png);
    background: -webkit-linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/photo_guy-min.png);
    background: -o-linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/photo_guy-min.png);
    background: linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/photo_guy-min.png);
    opacity: 0;
}

.hover3 {
    position: absolute;
    width: 100%;
    height: 470px;

    top: 0;
    background: linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/third_guy-min.png);
    opacity: 0;
}

.hover3 {
    position: absolute;
    width: 100%;
    height: 470px;

    top: 0;
    background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(238, 118, 120, 0.9)),
        to(rgba(238, 216, 135, 0.9))), url(../img/third_guy-min.png);
    background: -webkit-linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/third_guy-min.png);
    background: -o-linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/third_guy-min.png);
    background: linear-gradient(rgba(238, 118, 120, 0.9),
        rgba(238, 216, 135, 0.9)), url(../img/third_guy-min.png);
    opacity: 0;
}

.socials {
    position: absolute;
    top: 50%;
    left: 20%;
}

.soc-icons-wraper {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    position: relative;
    margin-left: -3px;
}

.twit,
.pint,
.insta {
    position: absolute;
    top: 25%;
    left: 25%;
}

.fb {
    position: absolute;
    top: 25%;
    left: 25%;
}

.guy_name,
.proffesion {
    margin: auto;
    width: 50%;
    text-align: center;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px 0 0 0;
    -webkit-box-shadow: 2px -14px 1px -12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px -14px 1px -12px rgba(0, 0, 0, 0.3);
    box-shadow: 2px -14px 1px -13px rgba(0, 0, 0, 0.2);
}
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px 0 0 0;
    -webkit-box-shadow: 2px -14px 1px -12px rgba(0, 0, 0, 0.3);
    box-shadow: 2px -14px 1px -13px rgba(0, 0, 0, 0.2);
}

input[type=submit] {
    width: 150px;
    padding: 14px 16px;
    display: inline;
    border: none;
    margin-left: -5px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
}

input[type=text] {
    width: 230px;
    padding: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
}

.legal_info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 50px;
}

span {
    color: #f38181;
}

/*hoover*/

.menu_items:hover {
    color: #f38181;
}

.menu_items:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #f38181;

}

.hover1:hover {
    opacity: 1;
    -webkit-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    box-shadow: 15px 14px 0px 0px rgba(149, 225, 211, 1);
    -webkit-transform: translate(-15px, -14px);
    transform: translate(-15px, -14px);
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
}

.hover2:hover {
    opacity: 1;
    -webkit-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    box-shadow: 15px 14px 0px 0px rgba(149, 225, 211, 1);
    -webkit-transform: translate(-15px, -14px);
    transform: translate(-15px, -14px);
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
}

.hover3:hover {
    opacity: 1;
    -webkit-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 17px 14px 0px 0px rgba(149, 225, 211, 1);
    box-shadow: 15px 14px 0px 0px rgba(149, 225, 211, 1);
    -webkit-transform: translate(-15px, -14px);
    transform: translate(-15px, -14px);
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
}

.soc-icons-wraper:hover {
    background-color: rgb(243, 129, 129);
}

a>svg:hover {
    fill: white;
}